@media screen {
    body {
        margin: 0px;
        background-color: #AEF2D9;
        font-family: 'Roboto', sans-serif;
    }

    colors {
        color: #A60311, #024873, #2E84A6, #AEF2D9, #F20505;
    }

    /*Nav settings*/
    nav {
        background-color: #A60311;
        border: azure, azure, black, azure;
        border-style: solid;
        padding-top: 20px;
        padding-bottom: 20px;

        top: 0;
        position: sticky;

        /*Om de overlap van article groei over nav te voorkomen*/
        z-index: 1;
    }

    #NavLinkContainer {
        margin-right: 2vw;
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 30px;
    }

    nav a {
        background-color: blue;
        padding: 10px;
        border-radius: 10%;
        color: white;
        text-decoration: none;

    }

    label {
        font-weight: bold;

    }

    nav a:hover {
        background-color: red;
        padding: 10px;
    }

    /*header section*/

    #ContainerTextHeader {
        background-image: url(/EindOpdrachtFrontEnd/Images/FruitBowl.jpeg);
        background-position: center;
        color: wheat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .ContainerText {
        display: flex;
        flex-direction: column;
        max-width: 80vw;
        justify-content: center;
        align-items: center;
        padding-bottom: 90px;
        padding-top: 90px;
    }


    #ContainerSecondArticles {
        display: flex;
        justify-content: center;
        background-color: #2E84A6;
        flex-direction: row;
    }

    #Articles {
        display: flex;
        flex-direction: row;
        gap: 2vw;
        top: 0;
        padding-top: 10vh;
        padding-bottom: 10vh;
    }

    article {
        background-color: #A60311;
        display: flex;
        flex-direction: column;
        text-align: center;
        border: black;
        border-style: solid;
        border-radius: 10px;
        max-width: 25vw;
        transition: 1s;
    }

    .Titel {
        font-size: 2rem;
    }

    article:hover {
        transform: scale(1.1);
    }

    #FormContainer {
        display: flex;
        justify-content: center;
    }

    form {
        display: flex;
        justify-content: start;
        flex-direction: column;
        width: 50vw;
        padding-bottom: 10vw;
        gap: 20px;
    }

    .FormNamesInput {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .formfield {
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex: 1;
    }

    .InputField {
        padding: 10px;
    }

    footer {
        background-color: #A60311;
        padding: 30px;
    }

    #LinkNav {
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 10px;
    }

    .button {
        background-color: #A60311;
        color: bisque;
        max-width: 30vw;
        padding: 10px;
    }
}

@media (max-width:480px) {
    #NavLinkContainer {
        flex-direction: column;
        align-items: center;
    }

    body {
        max-width: 100vw;
    }

    form {
        width: 90vw;
        gap: 10px;
    }

    .FormNamesInput {
        flex-direction: column;
    }

    .formfield {
        flex-direction: column;
        align-items: stretch;
    }

    #Articles {
        flex-direction: column;
    }

    article {
        max-width: 90vw;
    }

    #LinkNav {
        flex-direction: column;
    }
}