@media screen {
    body {
        margin: 0%;
        background-color: #1d82aa;
        font-family: 'Roboto', sans-serif;
    }

    colors {
        color: #070922, #1e2454, #2a3e73, #1d82aa, #1e2454;
    }

    h5 {
        display: flex;
        justify-content: center;
        margin-bottom: 5vh;
        margin-top: 10vh;
    }

    /*Nav settings*/

    .Logo {
        width: 10vw;
        padding-left: 3vw;
    }


    nav {
        display: flex;
        justify-content: space-between;
        background-color: #070922;
        border: azure, azure, black, azure;
        border-style: solid;
        padding-top: 2vh;
        padding-bottom: 2vh;
        align-items: center;
        top: 0;
        position: sticky;

        /*Om de overlap van article groei over nav te voorkomen*/
        z-index: 1;
    }

    #NavLinkContainer {
        margin-right: 2vw;
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 2vw;
    }

    nav a {
        background-color: #2a3e73;
        padding: 1vw;
        border-radius: 10%;
        color: white;
        text-decoration: none;
        transition: .5s;

    }

    nav a:hover {
        background-color: #1d82aa;
    }

    label {
        font-weight: bold;

    }

    /*header section*/

    #ContainerTextHeader {
        background-image: url("../docs/assets/RaveningWar.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100vw;
        color: #AEF2D9;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .ContainerText {
        display: flex;
        flex-direction: column;
        max-width: 80vw;
        justify-content: center;
        align-items: center;
        padding-bottom: 30vh;
        padding-top: 30vh;
    }

    #ContainerTextHeader a {
        text-decoration: none;
        color: #1d82aa;
        background-color: #070922;
        padding: 1vw;
        border-radius: 5%;
        transition: .5s;
    }

    #ContainerTextHeader a:hover {
        background-color: #2a3e73;
    }

    /* Articles section */
    #ContainerSecondArticles {
        display: flex;
        justify-content: center;
        background-color: #1e2454;
        flex-direction: row;
    }

    .ContainArticles {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h6 {
        font-size: 3rem;
        margin-bottom: 2vh;
    }

    #Articles {
        display: flex;
        flex-direction: row;
        gap: 2vw;
        top: 0;
        padding-top: 10vh;
        padding-bottom: 10vh;
    }

    article {
        background-color: #1d82aa;
        color: #070922;
        display: flex;
        flex-direction: column;
        text-align: start;
        padding: 2vh;
        border: black;
        border-style: solid;
        border-radius: 1%;
        max-width: 25vw;
        transition: 1s;
    }

    article img {
        border-radius: 1%;
    }

    article a {
        background-color: #070922;
        color: #1d82aa;
        padding: 1vw;
    }

    article a:hover {
        background-color: #2a3e73;
    }

    .Titel {
        font-size: 2rem;
    }

    article:hover {
        transform: scale(1.1);
    }

    .Rating img {
        height: 4vh;
    }

    /* Form Section */
    #FormContainer {
        display: flex;
        justify-content: center;
    }

    form {
        display: flex;
        justify-content: start;
        flex-direction: column;
        width: 50vw;
        padding-bottom: 10vw;
        gap: 3vh;
    }

    .FormNamesInput {
        display: flex;
        flex-direction: row;
        gap: 3vh;
    }

    .formfield {
        display: flex;
        flex-direction: column;
        gap: 1vh;
        flex: 1;
    }

    .InputField {
        padding: 1vh;
    }

    /* Footer Section */
    footer {
        background-color: #070922;
        padding: 3vw;
    }

    footer a {
        color: #AEF2D9;
        text-decoration: none;
    }


    #FooterLogos {
        display: flex;
        height: 5vh;
        gap: 1vw;
    }


    footer p {
        color: #AEF2D9;
    }



    #LinkNav {
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 1vw;
    }

    .button {
        background-color: #070922;
        color: #1d82aa;
        padding: 1vw;
        border-radius: 1%;
        font-size: 1rem;
        font-weight: bold;
        margin-top: 3vh;
        transition: .5s;

    }

    .button:hover {
        background-color: #2a3e73;
    }
}

@media (max-width:480px) {

    nav {
        position: relative;
        flex-direction: column;
    }

    .Logo {
        padding-left: 0vw;
        width: 20vw;
    }

    #ContainerTextHeader {
        background-size: auto;
    }

    .ContainerText {
        padding-bottom: 8vh;
        padding-top: 8vh;
    }

    #NavLinkContainer {
        flex-direction: column;
        align-items: center;
        margin-top: 3vh;
    }

    body {
        max-width: 100vw;
    }

    form {
        width: 90vw;
        gap: 2vh;
    }

    .FormNamesInput {
        flex-direction: column;
    }

    .formfield {
        flex-direction: column;
        align-items: stretch;
    }

    #Articles {
        flex-direction: column;
        padding: 0%;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }

    .button {
        padding: 3vh;
    }

    article {
        max-width: 90vw;
    }

    #LinkNav {
        flex-direction: column;
    }
}